table {

    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    tr {
        background-color: rgb(150, 226, 226);
    }


    th,
    td {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

}

div {
    border: solid black 1px;
}