<div>
    <span>Vos réservations en attente : </span>
    <table *ngFor="let hire of listHires">
        <ng-container *ngIf="hire.status == 'pending'">
            <thead>
                <tr>
                    <th>Matériel</th>
                    <th>Date de début</th>
                    <th>Date de fin </th>
                    <th>Statut </th>
                    <th>Localisation </th>
                </tr>
            </thead>
            <tbody>

                <td> {{hire.copy.material.wording}} </td>
                <td> {{hire.dateHire}} </td>
                <td> {{hire.datePlannedReturn}} </td>
                <td> en attente </td>
                <td> {{hire.eventHire.nameEvent}} </td>
            </tbody>
        </ng-container>
    </table>
</div>
<br>
<br>


<div>
    <span>Vos réservations en cours: </span>
    <table *ngFor="let hire of  listHires">
        <ng-container *ngIf="hire.status == 'on going'">
            <thead>
                <tr>
                    <th>Matériel</th>
                    <th>Date de début </th>
                    <th>Date de fin </th>
                    <th>Statut </th>
                    <th>Localisation </th>
                </tr>
            </thead>
            <tbody>
                <td> {{hire.copy.material.wording}} </td>
                <td> {{hire.dateHire}} </td>
                <td> {{hire.datePlannedReturn}} </td>
                <td> en cours </td>
                <td> {{hire.eventHire.nameEvent}} </td>
            </tbody>
        </ng-container>
    </table>
</div>