<div class="divTop">
  <div>
    <mat-form-field>
      <mat-label>Matériel à louer</mat-label>
      <mat-select [(value)]="selectedMaterial">
        <span *ngFor="let material of listeMaterials">
          <mat-option value="{{material.wording}}">{{material.wording}}</mat-option>
        </span>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="divTop_divRight">
    <ng-container *ngIf="dateInvalid">
      <span class="alertDateInvalid"> Votre date de fin doit être supérieure à votre date de départ et ne pas dépasser
        <span class="nine">neuf</span> mois.</span>
    </ng-container>
  </div>
</div>


<form [formGroup]="formHire" (ngSubmit)="onFormSubmit()">
  <mat-radio-group aria-label="Select an option" formControlName="radioSelected">

    <ng-container *ngIf="selectedMaterial">
      <table>
        <thead>
          <tr style="background-color: #d3cfcb">
            <th>No.</th>
            <th>Date d'achat</th>
            <th>Matériel</th>
            <th>Caractéristiques</th>
            <th>
              <!-- <mat-error *ngIf="formHire.get('radioSelected')?.hasError('required')">hohoho erreur</mat-error> -->
              <span *ngIf="selectedCopy" style="color : red">Champs requis</span>
            </th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let copie of listeCopies">
            <ng-container *ngIf="copie.material.wording == selectedMaterial">
              <ng-container *ngIf="copie.status == 'free'">

                <tr>
                  <td>
                    {{copie.id}}
                  </td>
                  <td>{{copie.datePurchase}}</td>
                  <td>{{copie.material.wording}}</td>
                  <td>{{copie.features.wording}}</td>
                  <td>
                    <mat-radio-button [value]="copie">Louer</mat-radio-button>
                  </td>
                </tr>

              </ng-container>


              <ng-container *ngIf="copie.status == 'hired'">
                <tr style="background-color: #FF5B2F">
                  <td>{{copie.id}}</td>
                  <td>{{copie.datePurchase}}</td>
                  <td>{{copie.material.wording}}</td>
                  <td>{{copie.features.wording}}</td>
                  <td>Indisponible</td>
                </tr>

              </ng-container>
            </ng-container>
          </ng-container>
          <td><mat-form-field>
              <mat-label>Date de début</mat-label>
              <input matInput [matDatepicker]="pickerDebut" formControlName="pickerDebutController"
                (dateChange)="onDateSelected($event)" [min]="minDate" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerDebut"></mat-datepicker-toggle>
              <mat-datepicker #pickerDebut></mat-datepicker>
            </mat-form-field></td>

          <td><mat-form-field>
              <mat-label>Date de fin</mat-label>
              <input matInput [matDatepicker]="pickerFin" formControlName="pickerFinController"
                (dateChange)="onDateFinSelected($event)" [min]="minDate" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field></td>

          <td>
            <mat-form-field>
              <mat-label>Choisissez un lieu</mat-label>
              <mat-select [(value)]="selectedEventHire" name="eventHireSelection" formControlName="locationSelected">
                <mat-option *ngFor="let eventHire of listeEventHires" [value]="eventHire">
                  {{eventHire.nameEvent}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td></td>
          <td>
            <button type="submit">Louer</button>
          </td>

        </tbody>

      </table>
    </ng-container>
  </mat-radio-group>
</form>