table {

    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    tr {
        background-color: rgb(150, 226, 226);
    }


    th,
    td {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

}

.divTop {
    display: flex;

    .divTop_divRight {
        margin-left: 10px;
        display: flex;
        justify-content: center; // Centrer le contenu horizontalement
        align-items: center; // Centrer le contenu verticalement
    }
}

.alertDateInvalid {
    color: red;
}